doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/statements.css', media='all')
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js")
    body
        .table-container
            .headcol
                table
                    thead
                        tr
                            th
                                | &nbsp;
                        tr
                            th
                                | &nbsp;
                    tbody
                        tr
                            td.indent1x
                                | Current Assets
                        tr
                            td.indent1x
                                | Noncurrent Assets
                        tr
                            td
                                | Assets
                        tr
                            td.indent1x
                                | Current Liabilities
                        tr
                            td.indent1x
                                | Noncurrent Liabilities
                        tr
                            td
                                | Liabilities
                        tr
                            td
                                | Commitments and Contingencies
                        tr
                            td
                                | Temporary Equity and Redeemable Noncontrolling Interest
                        tr
                            td.indent1x
                                | Equity Attributable to Parent
                        tr
                            td.indent1x
                                | Equity Attributable to Noncontrolling Interest
                        tr
                            td
                                | Equity
                        tr
                            td
                                | Liabilities and Equity
            .right
                table
                    thead
                        tr
                            each value in pageData.bsDates
                                th(colspan=pageData.entities.length)= value
                        tr
                            each value in pageData.bsDates
                                each entity in pageData.entities
                                    th= entity

                    tbody
                        tr
                            each value in pageData.bsFacts['CurrentAssets']
                                if value !== null
                                    td= value
                                else
                                    td
                                        | &nbsp
                        tr
                            each value in pageData.bsFacts['NoncurrentAssets']
                                if value !== null
                                    td= value
                                else
                                    td
                                        | &nbsp
                        tr
                            each value in pageData.bsFacts['Assets']
                                if value !== null
                                    td= value
                                else
                                    td
                                        | &nbsp
                        tr
                            each value in pageData.bsFacts['CurrentLiabilities']
                                if value !== null
                                    td= value
                                else
                                    td
                                        | &nbsp
                        tr
                            each value in pageData.bsFacts['NoncurrentLiabilities']
                                if value !== null
                                    td= value
                                else
                                    td
                                        | &nbsp
                        tr
                            each value in pageData.bsFacts['Liabilities']
                                if value !== null
                                    td= value
                                else
                                    td
                                        | &nbsp
                        tr
                            each value in pageData.bsFacts['CommitmentsAndContingencies']
                                if value !== null
                                    td= value
                                else
                                    td
                                        | &nbsp
                        tr
                            each value in pageData.bsFacts['TemporaryEquity']
                                if value !== null
                                    td= value
                                else
                                    td
                                        | &nbsp
                        tr
                            each value in pageData.bsFacts['EquityAttributableToParent']
                                if value !== null
                                    td= value
                                else
                                    td
                                        | &nbsp
                        tr
                            each value in pageData.bsFacts['EquityAttributableToNoncontrollingInterest']
                                if value !== null
                                    td= value
                                else
                                    td
                                        | &nbsp
                        tr
                            each value in pageData.bsFacts['Equity']
                                if value !== null
                                    td= value
                                else
                                    td
                                        | &nbsp
                        tr
                            each value in pageData.bsFacts['LiabilitiesAndEquity']
                                if value !== null
                                    td= value
                                else
                                    td
                                        | &nbsp